body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(130, 205, 134);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(87, 214, 87);
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.questions__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  max-width: 500px;
  width: 100%;
  min-height: 350px;
}
.question__options {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.question__text {
  font-size: 1.25em;
}
